@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #dcdde1;
$color-dark: #2f3640;
$color-main: #353b48;
$color-alternative: #c23616;


$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

$transition: .3s;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-main;
  font-family: $font-text;
  color: $color-main;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  margin: 0 0 12px 0;
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}
a {
  color: $color-dark;
  text-decoration: none;
}

/* Layout */

.wrapper {
  display: flex;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}

/* Logo */

.logo {
  color: $color-alternative;
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: $transition;
  .active {
    transition: $transition;
    font-weight: bold;
    color: $color-alternative;
  }
}

.list-horizontal {
  li {
    display: inline-block;
    margin: 0 5px;
    a {
      color: $color-alternative;
    }
  }
}

.tags {
  span {
    color: $color-alternative;
  }
}

.tag-size-1 {
  font-size: 100%;
}
.tag-size-2 {
  font-size:  120%;
}
.tag-size-3 {
  font-size: 140%;
}
/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  opacity: 0;
  transition: $transition;
  &.active {
    height: auto;
    opacity: 100%;
    transition: $transition;
  }
}
.post-title {
  line-height: 34px;
  font-size: 34px;
  margin: 0 12px 0 0;
}
.post-author {
  margin: 0 24px 0 0;
  font-style: italic;
  color: $color-alternative;
  a {
    color: $color-alternative;
  }
  .active {
    transition: $transition;
    font-weight: bold;
    color: $color-alternative;
  }
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}

/* Media Queries */

@media screen and (max-width: 966px) {
  .sidebar {
    flex: 1 0 0;
  }
  .posts {
    flex: 5 0 0;
  }
}

@media screen and (max-width: 742px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .posts {
    flex: none;
    width: 100%;
    order: 0;
  }
  .sidebar{
    flex: none;
    width: 100%;
    &:first-of-type{
      order: 1;
    }
    &:last-of-type{
      order: 2;
    }
  }
}